<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/web_testing_test.log"
                     filePattern="${basePath}/dailyLog-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
        </RollingFile>

        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- Suppress error messages from helper classes during tests -->
        <Logger name="helpers" level="warn" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="fileLogger"/>
        </Logger>
        
        <!-- Suppress error messages from driver classes during tests -->
        <Logger name="driver" level="warn" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="fileLogger"/>
        </Logger>
        
        <!-- Suppress error messages from browsers classes during tests -->
        <Logger name="browsers" level="warn" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="fileLogger"/>
        </Logger>
        
        <!-- General test logging -->
        <Logger name="gauge_api_testing" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
        
        <Root level="warn" additivity="true">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration> 