<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/gauge_api_testing.log"
                     filePattern="${basePath}/dailyLog-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
        </RollingFile>

        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg%n}{FATAL=red bold, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.bdd_testing_frameworks" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
        <Root level="info" additivity="true">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>